<div *ngIf="user._id === '';">
    <h1 class="font" style="font-weight: 700" mat-dialog-title>New Friend Request</h1>
    <div mat-dialog-content>
        <p>Friend's name:</p>
        <mat-form-field class="font">
            <input placeholder={{data.name}} matInput name="friendnametoadd" [(ngModel)]="username">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button class="font" mat-button color="alert" id="searchfriend" (click)="searchfriend()">Search</button>
        <button class="font" mat-button (click)="onNoClick()" color="primary" id="cancelbtnsearchfriend">Cancel</button>
    </div>
</div>
<div *ngIf="user._id !== '';">
    <div mat-dialog-content>
        <div id="left">
            <img style="width: 400px;height: 400px;" mat-card-avatar src="{{ user.avatar || 'https://www.ischool.berkeley.edu/sites/default/files/default_images/avatar.jpeg'}}">
        </div>
        <div id="right">
            <p>User name: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
        </div>
    </div>

    <div mat-dialog-actions>
        <button class="font" mat-button color="alert" id="andFriend" (click)="sendMessage()">Send</button>
        <button class="font" mat-button (click)="clearUser()" color="primary" id="cancelbtnaddfriend">Back</button>
    </div>
</div>