.outer-most-container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.search-button {
    border-radius: 10px;
    width: 150px;
    margin-right: 15px;
    margin-top: 10px;
}

.add-button {
    border-radius: 10px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}
