<div class="outer-most-container">
  <mat-form-field style="width: 400px;" class="font">
    <input matInput [(ngModel)]="name" placeholder="Search friend">
  </mat-form-field>
  <div style="display: inline-block;">
    <button class="search-button font" color="primary" (click)="filterFriends()" mat-raised-button>Search</button>
    <button class="add-button font" mat-raised-button (click)="openDialog()" color="warn" id="addfriend">Add a new friend</button>
  </div>
  <mat-list [@listStagger]="friendships">
    <mat-list-item *ngFor="let friend of friendships; let i = index;">
      <mat-icon mat-list-icon>face</mat-icon>
      <p class="font" mat-line>{{friend.userTwo}}</p>
      <span class="spacer"></span>
      <button mat-icon-button (click)="deleteFriend(friend.userTwo, i)">
        <i class="material-icons">clear</i>
      </button>
    </mat-list-item>
  </mat-list>
</div>