:host {
    /* flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.login-input-form {
    display:block;
    width: 100%;
}

.button {
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.home {
    margin-top: 10%;
    margin-bottom: 5%;
    width:80%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}    
.gatorimg {
    margin-bottom: 50px;
}