.login-input-form {
    display:block;
    width: 100%;
}

.button {
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.home {
    margin: 100px auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 520px;
}

.gatorimg {
    margin-bottom: 50px;
}