<body>
  <form>
    <div>
      <img width="500" src="../assets/GatorBook.jpg">
    </div>
    <div>
      <img width="500" src="../assets/gator.png">
    </div>
    <mat-form-field class="login-input-form">
      <input matInput placeholder="Enter your username">
    </mat-form-field>
    <mat-form-field class="login-input-form">
      <input type="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <div class="sign-in-button">
      <button color="primary" type="submit" mat-raised-button>Sign In</button>   
    </div>
    <div class="sign-up-button">
      <button color="primary" routerLink="/signup" mat-raised-button>Sign Up</button>
    </div>
  </form>
</body>