<header>
    <mat-toolbar class="mat-elevation-z5" color="primary">
        <span style="text-align:center; font-family: 'Montserrat', sans-serif;">GatorBook</span>
        <span class="spacer"></span>
        <button style="margin-right: 20px;" routerLink="/about" class="font" color="accent" id="selectFile" mat-raised-button>
            <Label for="input-file-id">
                <i class="material-icons mat-18 icon-align">whatshot</i>
                About This Site
            </Label>
        </button>   
        <button *ngIf="userService.loggedIn()" mat-icon-button [matMenuTriggerFor]="menu" id="menubtn">
            <i class="material-icons">account_circle</i>
        </button>
        <mat-menu #menu="matMenu">
            <button class="font" mat-menu-item routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button class="font" mat-menu-item id="userprofilebtn" (click)="setUserProfile()">
                <mat-icon>person_outline</mat-icon>
                <span>Profile</span>
            </button>
            <button class="font" mat-menu-item routerLink="/message">
                <mat-icon>notifications</mat-icon>
                <span>Messages</span>
            </button>
            <button class="font" mat-menu-item routerLink="/">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button class="font" mat-menu-item id="logout_header" (click)="logoutUser()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Log Out</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>