<div id="container">
    <div id="content">
        <h1>Messages</h1>

        <ul>
            <li *ngFor="let message of messages">
                <mat-card id="card" class="mat-elevation-z5 font">
                    <mat-card-title>{{message.fromUser}}</mat-card-title>
                    <mat-card-content>

                        <a>Friend Request</a>
                        <mat-card-actions>
                            <button color="primary" class="font" mat-button>ACCEPT</button>
                            <button color="warn" class="font" mat-button>DECLINE</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>

            </li>
        </ul>
    </div>
</div>