#container {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    height: 100%;
    #content {

        padding: 30px 50px;

        ul {
            list-style-type: none;
            margin: 0; padding:0;
            
            li {
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 8px;
            }

            mat-card {

                border-radius: 10px;
                padding-left: 25px;
                padding-bottom: 10px;

                mat-card-title {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00a8ff
                }
    
                mat-card-content {
                    margin-top: 20px;
                }
            }    
        }
    }
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


