:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-input-form {
    display:block;
    width: 100%;
}
.sign-in-button {
    position: absolute;
    display: inline-block;
    margin-top: 10px;
}
.sign-up-button {
    position: absolute;
    display: inline-block;
    padding-left: 100px;
    margin-top: 10px;
}
